header {
    width: 100%;
    position: fixed;
    background-color: blue;
    z-index:1;
}

#mainContent {
    padding-top: 10em;
}

.youtubeContainer {
    position: relative;
    width: 75%;
    height: 0;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 56.25%;
    z-index:0;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:0;
}